<div class="col-xs-8 col-xs-offset-2">
  <h1>{{appTitle | async}}</h1>
  <label>
    Модель
    <input type="text" class="form-control" [(ngModel)]="carName">
  </label>
  <label>
    Цвет
    <input type="text" class="form-control" [(ngModel)]="carColor">
  </label>
  <hr>
  <button (click)="addCar()" class="btn btn-success">Добавить машину</button>
  <button (click)="loadCars()" class="btn btn-primary">Загрузить машины</button>
  <hr>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let car of cars">
      <span class="badge" [ngStyle]="{background: car.color}">
        {{car.id}}
      </span>
      {{car.name}}
      ({{car.color}})
      <button class="btn btn-xs btn-info" (click)="setNewColor(car)">Изменить цвет</button>
      <button class="btn btn-xs btn-danger" (click)="deleteCar(car)">Удалить машину</button>
    </li>
  </ul>
</div>

