<div class="col-xs-8 col-xs-offset-2">
  <form (ngSubmit)="submitForm(form)" #form="ngForm">
    <div ngModelGroup="user" #user="ngModelGroup">
      <div class="form-group">
        <label>Email</label>
        <input
          name="email"
          ngModel
          #emailErrMsg="ngModel"
          [ngClass]="{'is-invalid': emailErrMsg.invalid && emailErrMsg.touched}"
          class="form-control"
          type="text"
          required
          email
        >

        <p *ngIf="emailErrMsg.invalid && emailErrMsg.touched">Введите корректный Email</p>

        <button type="button" class="btn btn-primary" (click)="addRandEmail()">Добавить случайный email</button>
      </div>
      <div class="form-group">
        <label>Пароль</label>
        <input
          name="password"
          ngModel
          #passErrMsg="ngModel"
          [ngClass]="{'is-invalid': passErrMsg.invalid && passErrMsg.touched}"
          class="form-control"
          required
          type="password"
        >
        <p *ngIf="passErrMsg.invalid && passErrMsg.touched">Пороль не может быть пустым</p>
      </div>
      <p *ngIf="user.invalid && user.touched">Данные пользователя введены некорректно</p>
    </div>

    <div class="form-group">
      <label>Выберете страну</label>
      <select required name="country" [ngModel]="defaultCountry">
        <option value="ru">Россия</option>
        <option value="by">Белорусия</option>
        <option value="ua">Украина</option>
      </select>
    </div>

    <div class="radio" *ngFor="let ans of answers">
      <label>
        <input type="radio" [value]="ans.type" [ngModel]="defaultAnswer" name="answer" required> {{ans.text}}
      </label>
    </div>

    <button class="btn btn-success" type="submit" [disabled]="!form.valid">Сохранить</button>

  </form>

  <div *ngIf="isSubmitted">
    <pre>
      <tr></tr>
      {{formData | json}}
    </pre>
  </div>
</div>
