<h2>Главная страница</h2>
<hr>
<p>С помощью киберслизняка учёные хотят детально изучить человеческий мозг. У смоделированного хищника есть зачатки самосознания, он способен связать мотивацию с воспоминаниями и реагировать на внешние ситуации. «Морская слизь — хорошая модель древней системы, которая ещё присутствует в наших мозгах» — заявляют исследователи.</p>
<hr>
<button class="btn btn-primary" (click)="openCarsPage()">Открыть страницу машин программно</button>
<hr>
<button class="btn btn-success" (click)="changeAuthStatus('login')">Войти</button>
<button class="btn btn-danger" (click)="changeAuthStatus('logout')">Выйти</button>
