<div class="title-block">
  <h3 class="title pull-left">
    Страница истории <span class="sparkline bar"></span>
  </h3>
  <div class="pull-right">
    <button class="btn-sm btn btn-primary-outline" (click)="openFilter()">
      <i class="fa fa-filter"></i>
    </button>
  </div>
</div>

<div *ngIf="!isLoaded" class="text-center">Loading...</div>

<div *ngIf="isLoaded">

  <pr-history-chart [data]="chartData"></pr-history-chart>

  <pr-history-event [categories]="categories" [events]="filteredEvents"></pr-history-event>

  <div *ngIf="isFilterVisible">
    <pr-history-filter
      (onFilterApply)="onFilterApply($event)"
      (onFilterCancel)="onFilterCancel()"
      [categories]="categories"
    ></pr-history-filter>
  </div>

</div>


